<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Admin Manage</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="../assets/vendors/iconfonts/ionicons/css/ionicons.css">
	<link rel="stylesheet" href="../assets/vendors/iconfonts/typicons/src/font/typicons.css">
	<link rel="stylesheet" href="../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.addons.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../assets/css/shared/style.css">
	<link rel="icon" href="/images/logo_s.png" type="image/x-icon">
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="../assets/css/demo_1/style.css">
	<!-- End Layout styles -->
	<link rel="shortcut icon" th:href="@{/assets/images/logo_s.png}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:replace="manager/fragment/listNav::nav"></nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="manager/fragment/listNav_1::nav_1"></nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div th:if="${success}" class="row alert alert-success alert-dismissible"
										style="width: 850px; margin-left: 50px;">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<span th:text="${success}"></span>
									</div>
									<div th:if="${fail}" class="row alert alert-danger alert-dismissible"
										style="width: 850px; margin-left: 50px;">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<span th:text="${fail}"></span>
									</div>
									<h4 class="card-title">Danh Sách Danh Mục</h4>
									<p class="card-description">
										<!--sử dụng th:href link tới action /manager/addCategory controller-->
										<a class="btn btn-inverse-success btn-fw" th:href="@{/manager/addCategory}">Thêm
											Danh Mục</a>
									</p>
									<!--sử dụng th:if đưa ra No product 
											nếu không có sản phẩm trong csdl-->
									<th:block th:if="${#lists.isEmpty(category)}">
										<h3>No product</h3>
									</th:block>
									<!--sử dụng th:if đưa ra sản phẩm có 0 csdl-->
									<th:block th:unless="${#lists.isEmpty(category)}">
										<table id="dataTable-listCategory" class="table table-hover">
											<thead>
												<tr>
													<th>Tên Danh Mục</th>
													<th></th>
												</tr>
											</thead>
											<tbody id="dataCategory">
											<!--sử dụng th:each vòng lặp-->
												<tr th:each="ca : ${category}">
													<!--sử dụng th:text lấy giá trị của biến trong category-->
													<td th:text="${ca.name}"></td>
													<td>
														<a class="btn btn-success" th:href="@{'/manager/updateCategory/'+${ca.idCategory}}">Cập Nhập</a> 
														<!--sử dụng cú pháp thymeleaf lấy gt category nối vào chuỗi cho phép truyền id tới action sử lý-->
														<a class="btn btn-danger" th:href="@{'/manager/deleteCategory/'+${ca.idCategory}}">Xóa</a>
													</td>

												</tr>

											</tbody>
										</table>
									</th:block>
								</div>
							</div>


						</div>
					</div>
				</div>
				<footer class="footer" th:replace="manager/fragment/footer::footer"></footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="../assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
	<!-- inject:js -->
	<script src="../assets/js/shared/off-canvas.js"></script>
	<script src="../assets/js/shared/misc.js"></script>
	<script src="../assets/js/demo_1/dashboard.js"></script>

	<!-- DataTables -->
	<script th:src="@{/assets/vendors/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/assets/vendors/datatables/dataTables.bootstrap4.js}"></script>
</body>
</html>