<!--listnav_1 quản lý manager-->
	<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="nav_1">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <!--th:href liên kết đến action manager-->
              <a th:href="@{/manager}" class="nav-link">
                <div class="profile-image">
                 <!--sử dụng th:src  lấy giá trị hình + pt nối chuỗi đến image-->
                  <img class="img-xs rounded-circle" 
                  	th:src="@{'data:image/png;base64,' + ${image}}" alt="profile image">
                  <div class="dot-indicator bg-success">
                  </div>
                </div>
                <div class="text-wrapper">
                  <!--sử dụng thtext lấy giá trị của name-->
                  <p class="profile-name" th:text="${fullname}"></p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category">Quản Lý</li>
            <li class="nav-item">
              <!--sử dụng th:href liên kết đến action thống kê manager-->
              <a class="nav-link" th:href="@{/manager/statistical}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Quản Lý Thống Kê</span>
              </a>
            </li>
            
            <li class="nav-item">
             <!--sử dụng th:href liên kết đến action import manager-->
                <a class="nav-link" th:href="@{/manager/import}">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Quản Lý Kho Hàng</span>
              </a>
            </li>
            <li class="nav-item">
                <!--sử dụng th:href liên kết đến action listcategory manager-->
                <a class="nav-link" th:href="@{/manager/listCategory}">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Quản Lý Danh Mục</span>
              </a>
            </li>
            <li class="nav-item">
                <!--sử dụng th:href liên kết đến action listproduct manager-->
                <a class="nav-link" th:href="@{/manager/listProduct}">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Quản Lý Sản Phẩm</span>
              </a>
            </li>
            <li class="nav-item">
                 <!--sử dụng th:href liên kết đến action order manager-->
                <a class="nav-link" th:href="@{/manager/order}">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">Quản Lý Giỏ Hàng</span>
              </a>
            </li>
            <li class="nav-item">
                 <!--sử dụng th:href liên kết đến action manager list user-->
                <a class="nav-link" th:href="@{/manager/listUser}">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Quản Lý Tài Khoản</span>
              </a>
            </li>
            <li class="nav-item">
                <!--sử dụng th:href liên kết đến action manager listcustomer-->
                <a class="nav-link" th:href="@{/manager/listCustomer}">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Xem Tài Khoản Khách Hàng</span>
              </a>
            </li>
            <li class="nav-item">
                 <!--sử dụng th:href liên kết đến action manager feedback-->
                <a class="nav-link" th:href="@{/manager/feedback}">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Quản Lý Kiến</span>
              </a>
            </li>
            
          </ul>
        </nav>
